{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p><a href="{{ path('new_loan') }}" class="button">Create New Loan</a></p>
    <p>Filters <a href="{{ path('all_loans') }}">All</a> | <a href="{{ path('loan_overdue') }}">Overdue</a> | <a
                href="{{ path('loan_checked') }}">Checked Out</a></p>
    <table>
        <thead>
        <tr>
            <th>Book</th>
            <th>Patron</th>
            <th>Loaned on</th>
            <th>Return by</th>
            <th>Returned on</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                <td><a href="{{ path("book_detail", {'id': loan.book.id }) }}">{{ loan.book.title }}</a></td>
                <td><a href="{{ path("patron_detail", {'id': loan.patron.id }) }}">{{ loan.patron.firstName }} {{ loan.patron.lastName }}</a></td>
                <td>{{ loan.loanedOn|date('Y-m-d') }}</td>
                <td>{{ loan.returnBy|date('Y-m-d') }}</td>
                <td>{% if loan.returnedOn is null %}
                    {% else %}{{ loan.returnedOn|date('Y-m-d') }}
                    {% endif %}</td>
                <td>{% if loan.returnedOn is null %}
                    <a href="{{ path('return_book', {'id': loan.id }) }}" class="button">Return Book</a>
                    {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}