{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>
    {{ form_start(form) }}

    <p>{{ form_label(form.title) }}{{ form_widget(form.title) }}</p>
    <p>{{ form_label(form.author) }}{{ form_widget(form.author) }}</p>
    <p>{{ form_label(form.genre) }}{{ form_widget(form.genre) }}</p>
    <p>{{ form_label(form.firstPublished) }}{{ form_widget(form.firstPublished) }}</p>

    <p><input type="submit" value="Update"></p>

    {{ form_end(form) }}
    <h2>Loan History</h2>
    <table>
        <thead>
        <tr>
            <th>Book</th>
            <th>Patron </th>
            <th>Loaned on</th>
            <th>Return by </th>
            <th>Returned on</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

{% endblock %}