{% extends 'base.html.twig' %}

{% block title %}{{ patron.firstName }} {{ patron.lastName }}{% endblock %}

{% block body %}
    <h1>Patron: {{ patron.firstName }} {{ patron.lastName }}</h1>
    {{ form_start(form) }}

    <p>{{ form_label(form.firstName) }}{{ form_widget(form.firstName) }}</p>
    <p>{{ form_label(form.lastName) }}{{ form_widget(form.lastName) }}</p>
    <p>{{ form_label(form.address) }}{{ form_widget(form.address) }}</p>
    <p>{{ form_label(form.email) }}{{ form_widget(form.email) }}</p>
    <p>{{ form_label(form.libraryId) }}{{ form_widget(form.libraryId) }}</p>
    <p>{{ form_label(form.zipCode) }}{{ form_widget(form.zipCode) }}</p>

    <p><input type="submit" value="Update"></p>

    {{ form_end(form) }}
    <h2>Loan History</h2>
    <table>
        <thead>
        <tr>
            <th>Book</th>
            <th>Patron </th>
            <th>Loaned on</th>
            <th>Return by </th>
            <th>Returned on</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in history %}
            <tr>
                <td><a href="{{ path('book_detail', {'id': loan.book.id }) }}">{{ loan.book.title }}</a></td>
                <td><a href="{{ path('patron_detail', {'id': loan.patron.id }) }}">{{ loan.patron.firstName }} {{ loan.patron.lastName }}</a></td>
                <td>{{ loan.loanedOn|date('Y-m-d') }}</td>
                <td>{{ loan.returnBy|date('Y-m-d') }}</td>
                <td>{% if loan.returnedOn is null %}
                    {% else %}{{ loan.returnedOn|date('Y-m-d') }}
                    {% endif %}</td>
                <td>{% if loan.returnedOn is null %}
                        <a href="{{ path('return_book', {'id': loan.id }) }}" class="button">Return Book</a>
                    {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}